<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drinks Inventory</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <h2 class="text-center alert alert-success">Drinks Depot - Inventory</h2>

      <div class="row">
        <div class="col-sm-2">
          <div class="col-sm-8">
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#newDrinkModal"
            >
              Add Drink
            </button>
          </div>
          <div class="modal fade" role="dialog" id="newDrinkModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2>Enter New Drink</h2>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('insert')}}" method="POST">
                    <div class="form-group">
                      <label for="drink_name">Name of Drink</label>
                      <input
                        placeholder="Name of Drink"
                        type="text"
                        class="form-control"
                        id="name_of_drink"
                        name="name_of_drink"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="drink_name">Price of Drink</label>
                      <input
                        placeholder="Price"
                        type="number"
                        class="form-control"
                        id="price"
                        name="Price"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="drink_name">Quantity Recieved</label>
                      <input
                        placeholder="Quantity"
                        type="number"
                        class="form-control"
                        id="quantity"
                        name="quantity"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="drink_name">Expiry Date</label>
                      <input
                        placeholder="Expiry Date"
                        type="text"
                        class="form-control"
                        id="expiry_date"
                        name="expiry_date"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="drink_name">Badge Number</label>
                      <input
                        placeholder="Batch Number"
                        type="number"
                        class="form-control"
                        id="batch_number"
                        name="batch_number"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="drink_name">Drink Subtype</label>
                      <input
                        placeholder="Drink Subtype"
                        type="number"
                        class="form-control"
                        id="drink_subtype"
                        name="drink_subtype"
                        required
                      />
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Add Drink
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"></script>
  </body>
</html>